#root {
  width: 100%;
}
.App {
  text-align: center;
}
.chat-message {
  background-color: rgba(163, 185, 194, 0.57);
  padding: 1em;
  max-height: 500px;
  overflow: scroll;
  border-radius: 25px;
  color: black;
  align-items: flex-end;
}
.message-right {
  background: #91fbff;
  border-radius: 25px;
  /* padding: 0em 0.5em !important;
  margin: 1em;*/
}
.message-left {
  background: aliceblue;
  border-radius: 25px;
  /*padding: 0.5em 1em !important;
  margin: 1em;*/
  align-items: start;
}

.message-text {
  font-size: 17px;
  height: 300px;
  overflow-y: scroll;
  border: 0px solid #ccc;
  padding: 10px;
  margin: 1em;
  align-items: baselines;
}
.logo-icon {
  height: 50px;
  width: 50px;
  border-radius: 200px;
}
.send-button {
  padding: 8px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.message-name {
  font-size: 13px;
  padding: 0em 1em !important;
  margin: 1em;

}
.right-content {
  flex-direction: column;
  align-items: end;
}
